NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://shubhamlonkar137_db_user:eNpdtjZsPx49HI83@cluster0.hymwrs6.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=wolan
JWT_ACCESS_SECRET=replace-with-at-least-32-random-characters
JWT_REFRESH_SECRET=replace-with-a-different-32-character-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
JWT_ISSUER=wolan-logistics
JWT_AUDIENCE=wolan-platform
CORS_ORIGINS=http://localhost:5173
REDIS_URL=redis://localhost:6379
LOG_LEVEL=info
TRACKING_WEBHOOK_SECRET=replace-with-a-random-webhook-secret
CLOUDINARY_CLOUD_NAME=jvgxjzev
CLOUDINARY_API_KEY=317986694677749
CLOUDINARY_API_SECRET=hf9bltoGiaCo6cAO84rG73_lDGI
GOOGLE_MAPS_API_KEY=AIzaSyCkRi0pE-cX5TuCrLaCJJ2uJsKrpmYIytE
